@import "tailwindcss";
@import "../../vendor/wirechat/wirechat/resources/css/app.css";

html,
body {
    scroll-behavior: auto;
}

.laboratory-ck-editor .ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 280px;
}

.laboratory-ck-editor .ck.ck-editor__main > .ck-editor__editable {
    border-radius: 0 0 0.5rem 0.5rem;
}

.laboratory-ck-editor .ck.ck-toolbar {
    border-radius: 0.5rem 0.5rem 0 0;
}

@custom-variant dark (&:where(.dark, .dark *));
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@import "flowbite-react/plugin/tailwindcss";
@import "./fonts.css";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../views/**/*.blade.php";
@source "../js/**/*.{js,jsx,ts,tsx,vue}";
@source "../../public/assets/js/**/*.{js,vue}";
@source "../../node_modules/flowbite";
@source "../../.flowbite-react/class-list.json";
@source "../../vendor/wirechat/wirechat/resources/views/**/*.blade.php";
@source "../../vendor/wirechat/wirechat/src/Livewire/**/*.php";
