.control-absolute-on-lang {
    left: 0px
}

.control-switch {
    right: 25px
}

.add-button-padding {
    font-size: 30px; padding-right: 10px;  color: #71dd37
}
 .machine-icon{
text-align: right;
 }
